
  <body style="color: rgb(22, 23, 23);">
    
  
  <div style ="max-width: 200px; border: 2ch; position: static; nav-right: auto;">
    <h2>Login</h2>
    <label>Usernmae:</label><br />
    <input [(ngModel)]="username" placeholder="Enter username" /><br/>
    <label>Password:</label><br />
    <input [(ngModel)] = "password" type="password" placeholder="Enter password"/><br/><br/>
    <button (click)="validate()">Login</button>
    <p style="color:blue;margin-top:10px;">{{message}}</p>   
  </div>
 
</body>
